@import "./responsive.scss";

.layout{
    background-color: rebeccapurple;
    height: 100vh;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    @include laptop{
        background-color: aqua;
    }

   
    @include tablet{
        background-color: rgb(43, 0, 255);
    }
   
    @include phone{
        background-color: red;
    }
}